@import "../../../styles/variables";

.contact {
  margin-bottom: 5em;

  .head-project-card {
    max-width: 275px;
  }

  .header-container {
    position: relative;
    margin-right: calc(50% - 50vw); // hack to escape parent width constraint
    margin-left: calc(50% - 50vw);
  }

  h2.header {
    padding: 54px 0;

    background-color: $primary;
    color: white;

    &:after {
      content: '';
      display: block;
      background-color: $primary;
      position: absolute;
      bottom: -325px;
      left: 0;
      height: 325px;
      width: 100vw;
      z-index: -1;
    }
  }

  .members {
    margin-top: 3em;

    .head-of-project-header {
      color: white;
      margin-bottom: 2em;
    }

    .collaborators-header {
      margin: 2em 0;
      color: $text;
    }
  }
}