.member-card {
  display: flex;
  flex-direction: column;
  padding: 20px 16px;
  width: 100%;
  max-width: 350px;
  height: 100%;
  word-wrap: anywhere;
  margin: 0 auto;
  white-space: pre-line;

  &:first-child img {
    border-radius: 999px;
    width: 100%;
    max-width: 85px;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    margin: 0 auto;
  }

  .card-content {
    padding: 1rem;
    flex-grow: 1;
    h2 {
      text-align: center;
      font-weight: bold;
      margin-bottom: 8px;
    }
  }
}