@import "../../../styles/variables.scss";

.no-title-margin {
  margin-bottom: 0 !important;
}

.exportable-heading-wrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.exportable-heading {
  flex: 1;
  margin-bottom: 1.5rem;
}

.export-icon {
  cursor: pointer;

  &:hover {
    color: $link;
  }
}
