@use "sass:map";
@import "../../../styles/variables.scss";

.visualizationContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;

  margin-bottom: 2rem;

  @media (max-width: map.get($breakpoints, 'desktop-max')) {
    flex-direction: column;
  }
}
