# Ignore everything by default
*

# Allow the public project files.
!Dockerfile
!README.md
!package.json
!package-lock.json
!next-env.d.ts
!next.config.js
!tsconfig.json
!components
!lib
!pages
!public
!styles
