@use "sass:map";
@import "../../../styles/variables.scss";

.controlsOverlay {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;

  width: 40%;
  max-width: 350px;
  background-color: #e5e5e5;
  padding: 1rem;
  border-radius: 10px;

  display: flex;
  gap: 1rem;
  flex-direction: column;

  @media (max-width: map.get($breakpoints, 'phone-max')) {
    width: 100%;
  }
}

.control {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.controlLabel {
  width: 25%;
  margin-right: 5%;
  color: #000;
}

.optionsDropdown {
  margin: 0;
  width: 100%;
}

.controlsToggle {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;

  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.controlsToggleIcon {
  display: block;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: #f5f5f5;

  &:hover {
    cursor: pointer;
    background-color: #e5e5e5;
  }
}
