@use "sass:map";
@import "../../../styles/variables.scss";

.heading-block {
  display: flex;
  flex-direction: row;

  @media (max-width: map.get($breakpoints, 'phone-max')) {
    flex-direction: column;
  }
}
