.controlsOverlay {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 100;

  width: 250px;
  max-width: calc(100% - 2 * 10px); // 2 * Top
  background-color: #e5e5e5;
  padding: 1rem;
  border-radius: 10px;

  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.control {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.controlLabel {
  width: 25%;
  margin-right: 5%;
  color: #000;
}

.optionsDropdown {
  margin: 0;
  width: 100%;
}

.controlsToggle {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;

  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.controlsToggleIcon {
  display: block;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: #f5f5f5;
  width: 3rem;
  height: 3rem;

  &:hover {
    cursor: pointer;
    background-color: #e5e5e5;
  }
}
