@use "sass:map";
@import "../../../../styles/variables.scss";

.responsiveFlex {
  display: flex;

  gap: 1rem;
  flex-direction: row;

  @media(max-width: map.get($breakpoints, 'phone-max')) {
    flex-direction: column;
  }
}

.flexExpand {
  flex: 1;
}

.fullFilterBlock {
  margin-bottom: 0 !important;

  @media(max-width: map.get($breakpoints, 'phone-max')) {
    margin-bottom: 1rem !important;
  }
}

.filterDropdown {
  margin: 0;
  width: 100%;
}
