.share-button-facebook {
  background-color: #1877f2;
  color: #fff;

  &:hover, &:focus, &:active {
    color: #fff;
  }
}

.share-button-twitter {
  background-color: #1da1f2;
  color: #fff;

  &:hover, &:focus, &:active {
    color: #fff;
  }
}

.share-button-linkedin {
  background-color: #0a66c2;
  color: #fff;

  &:hover, &:focus, &:active {
    color: #fff;
  }
}
