@use "sass:map";
@import "../../../styles/variables.scss";

.buttonsContainer {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  flex-wrap: wrap;

  @media (max-width: map.get($breakpoints, 'phone-max')) {
    flex-direction: column;
  }
}
