@import '@styles/mixins';

.featured {
  max-height: 200px;

  @include media-breakpoint-up(sm) {
    max-height: 400px;
  }

  @include media-breakpoint-up(lg) {
    max-height: calc(80svh - 160px);
  }
}
