@use "sass:map";
@import "../../../../styles/variables.scss";

.responsiveFlex {
  display: flex;

  gap: 1rem;
  flex-direction: row;

  @media(max-width: map.get($breakpoints, 'phone-max')) {
    flex-direction: column;
  }
}

.flexExpand {
  flex: 1;
}
