name: On Push (Main)

on:
  push:
    branches:
      - main

jobs:
  test:
    name: Run Tests
    uses: ./.github/workflows/callable-test.yml

  build:
    name: Build Docker Image
    uses: ./.github/workflows/callable-build.yml
    needs:
      - test
    with:
      ghcr_username: ${{ github.actor }}
      ghcr_image_name: ${{ github.repository }}
      image_tag: latest
    secrets:
      ghcr_token: ${{ secrets.GITHUB_TOKEN }}

  deploy:
    name: Trigger Deployment
    uses: ./.github/workflows/callable-deploy.yml
    needs:
      - build
    with:
      repo: ${{ vars.DEPLOYMENT_REPO }}
    secrets:
      token: ${{ secrets.REPO_DISPATCH_TOKEN }}
